.cart-page {
    border: 2px solid rgb(228, 226, 226);
    width: 100%;
    min-height: auto;
    display: flex;
    padding: 65px;
}

.cart-page-sections {
    padding-top: 30px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    color: rgb(160, 157, 157);
}

.cart-items-section {
    width: 70%;
    border: 1px solid rgb(228, 226, 226);
    border-radius: 15px;
}

.cart-page-sections>.tabled {
    width: 90%;
}

.table-header-row {
    align-items: center;
    margin-bottom: 10px;
}

.cart-summary-section {
    padding-top: 30px;
    width: 23%;
    margin: 10px;
    margin-left: 40px;
}

.cart-table {
    width: 80%;
    display: flex;
    flex-direction: column;
    padding: 16px;
    border: 1px dotted;
    background-color: rgb(251, 250, 250);
}

.proceed-to-checkout-btn {
    width: 100%;
    box-sizing: border-box;
}

.checkout-btn {
    width: 100%;
    height: auto;
    border: none;
    color: #f57224;
    border: 2px solid #f57224;
    transition: 0.5s;
    padding: 10px;
    font-size: 16px;
    font-weight: 500;
    background-color: white;
    cursor: pointer;
}

.checkout-btn:hover {
    background-color: #f57224;
    color: rgb(56, 56, 56);
}