/* Header container */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 200px;
    color: white;
}

/* Logo style */
.logo img {
    max-width: 100px;
}

/* Category dropdown button style */
.category-dropdown {
    position: relative;
}

.category-button {
    background: none;
    border: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.category-button svg {
    margin-left: 5px;
}

/* Category menu style */
.category-menu {
    list-style: none;
    padding: 0;
    position: absolute;
    background-color: #333;
    border: 1px solid #666;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1;
    top: 100%;
    left: 0;
    right: 0;
    display: none;
}

.category-menu li {
    padding: 10px;
    text-align: center;
}

.category-menu a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

/* Show the category menu when the button is clicked */
.category-dropdown:hover .category-menu {
    display: block;
}

/* Search bar and cart icon styles */
.search-bar {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    margin: 0 10px;
    width: 300px;
}

.search-bar input {
    flex: 1;
    padding: 10px;
    border: none;
    outline: none;
    font-size: 16px;
    background: transparent;
}

.search-bar button {
    background-color: var(--secondary-color);
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 10px;
    transition: filter 0.3s;
}

.home a {
    text-decoration: none;
    color: var(--secondary-color);
}


.search-bar button:hover {
    filter: brightness(50%);
}

.cart-icon {
    position: relative;
    z-index: 1;
}

.cart-dropdown {
    position: absolute;
    background: #fff;
    color: #333;
    padding: 10px;
    border: 1px solid #666;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    top: 100%;
    right: 0;
    display: none;
}

.cart-icon:hover .cart-dropdown {
    display: block;
}

.top-bar {
    background-color: #333;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    color: white;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 10px 200px;
}

.top-bar-button {
    background: none;
    border: none;
    background-color: var(--secondary-color);
    margin: 10px 10px 0 10px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0.5rem 1.0rem;
    font-size: 1.2rem;
    line-height: 1.5;
    letter-spacing: -0.01em;
    min-width: 170px;
    border-radius: 0;
    white-space: normal;
    transition: all 0.3s;
}

.top-bar-button svg {
    padding-right: 5px;
}

.top-bar-button:hover {
    letter-spacing: 0.05em;
    color: var(--secondary-color);
    /* border-color: var(--secondary-color); */
    background-color: transparent;
}