/* Error Message Style */
.error {
    color: red;
    border: 1px solid red;
}

.back {
    position: fixed;
    left: 3%;
    text-align: center;
    top: 3%;
    width: 20px;
    height: 20px;
    font-weight: bolder;
    font-size: 16px;
    background: #0dd9f9;
    padding: 10px;
    color: white;
    transition: 0.3s ease-in;
    border-radius: 1000%;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('https://dukan24h.com/public/d24h/userend/assets/images/banners/register.gif');
    background-repeat: no-repeat;
    padding: 15rem;
    background-size: cover;
}

.form-container {
    display: flex;
}

form {
    width: 50%;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    margin-right: 20px;

}

h3 {
    color: #333;
    font-size: 24px;
    margin: 0;
    margin-bottom: 20px;
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="file"] {
    width: 50%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    outline: none;
    transition: border 0.3s;
    background-color: #f9f9f9;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="file"]:focus {
    border: 1px solid var(--secondary-color);
    background-color: #fff;
}

select {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    outline: none;
    transition: border 0.3s;
    background-color: #f9f9f9;
}

select:focus {
    border: 1px solid var(--secondary-color);
    background-color: #fff;
}

img {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid #ccc;
    display: block;
    margin: 10px auto;
    object-fit: cover;
}


button {
    background-color: var(--secondary-color);
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 12px 20px;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s;
    text-transform: uppercase;
}

button:hover {
    filter: brightness(80%);
}

.form-section {
    background-color: #f7f7f7;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}